@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');



body {
    margin: 0;
}

p {
    color: white;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}


/*
.background {
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 0;
    padding-top: 55.5%;
}
*/
.background {
    width: 100%;
    display: inline-block;
    position: relative;
    background-size: contain;
    background-image: url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    /*margin: 0 auto; */
    max-height: 800px;
}

.background:after {
    padding-top: 55.5%;
    display: block;
    content: " ";
}

.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    margin: 0 30px; 
    align-items: center;
 
}

.title {
    width: 170px;
}

.left {
    margin-right: 0;
    align-items: center;
}

.right {
    display: flex;
    justify-content: space-around;
    flex: 0.42;
    align-items: center;

}

.button {
    background-color: white;
    border: none;
    border-radius: 30px;
    font-family: 'Fraunces', sans-serif;
    height: 55px;
    width: 135px;
    top: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.buttonText {
    color: black;
    font-family: 'Fraunces', serif;
    font-weight: 1200;
    font-size: 15px;
}

.motto {
    text-align: center;
    color: white;
    font-family: 'Fraunces', serif;
    font-size: 55px;
    padding-top: 75px;
    font-weight: 900;
    letter-spacing: 10px;
}

.arrow {
    text-align: center;
    padding-top: 50px;
}

.egg-row {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.egg-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex: 1;
    min-width: 450px;
}

.text.align {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.egg-img {
    margin: 0;
    padding: 0;
    flex: 1 0 0;
    min-width: 450px;
}

.img-p {
    color: hsl(210, 4%, 67%);
    /*margin-left: 215px;*/
    line-height: 30px;
    flex-grow: 1;
    flex-shrink: 1;
}

.img-title {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 40px;
    flex-grow: 1;
    flex-shrink: 1;
}

.img-button {
    margin-top: 30px;
    color: black;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.cup-row {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.cup-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex: 1;
    min-width: 450px;
}

.cup-img {
    display: block;
    min-width: 450px;
}

.fruit-row {
    display: flex;
}

.cherry {
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.cherry-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50%;
}

.cherry-title {
    color: hsl(167, 40%, 24%);
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 27px;
}

.cherry-p {
    color: hsl(167, 40%, 24%);
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
}

.orange {
    background-image: url("images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.orange-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50%;
}

.orange-title {
    color: hsl(198, 62%, 26%);
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
}

.orange-p {
    color: hsl(198, 62%, 26%);
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
}

.management {
    display: flex;
    justify-content: space-around;
    margin: 0 145px;
}

.manager {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.manager-pfp {
    max-width: 72px;
    max-height: 72px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.manager-bio {
    color: hsl(232, 10%, 55%);
    text-align: center;
    line-height: 33px;
}

.manager-name {
    margin-top: 90px;
    margin-bottom: 15px;
    color: black;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
}

.manager-position {
    color: hsl(210, 4%, 67%);
    font-size: 13px;
    margin-bottom: 175px;
}

.managers-title {
    color: hsl(210, 4%, 67%);
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    letter-spacing: 0.4rem;
    margin: 165px 0px 85px 0px;
    font-size: 19px;
}

.managers-title-div {
    display: flex;
    justify-content: center;
}

.img-row {
    width: 100%;
    display: flex;
}

.img-row img {
    width: 25%;
}

.footer {
    background-color: rgba(144,212,197,255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-img {
    margin-top: 75px;
    margin-bottom: 35px;
    width: 140px;
    /*fill: rgba(46, 118, 104, 1);*/
}

.footer-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-button {
    margin: 0 30px;
    color: rgba(46,118,104,255);
    font-size: 18px;
}

.socials {
    margin: 90px 0;
}

.social {
    margin: 0 12px;
}