@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');



body {
    margin: 0;
}

p {
    color: white;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}


/*
.background {
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 0;
    padding-top: 55.5%;
}
*/
.background {
    width: 100%;
    display: inline-block;
    position: relative;
    background-size: contain;
    background-image: url("images/desktop/image-header.jpg");
    /*margin: 0 auto; */
    max-height: 800px;
}
.background:after {
    padding-top: 55.5%;
    display: block;
    content: " ";
}

.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    margin: 0 30px; 
    align-items: center;
 
}

.title {
    width: 170px;
}

.left {
    margin-right: 0;
    align-items: center;
}

.right {
    display: flex;
    justify-content: space-around;
    flex: 0.42;
    align-items: center;

}

.button {
    background-color: white;
    border: none;
    border-radius: 30px;
    font-family: 'Fraunces', sans-serif;
    height: 55px;
    width: 135px;
    top: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.buttonText {
    color: black;
    font-family: 'Fraunces', serif;
    font-weight: 1200;
    font-size: 15px;
}

.motto {
    text-align: center;
    color: white;
    font-family: 'Fraunces', serif;
    font-size: 56px;
    padding-top: 75px;
    font-weight: 900;
    letter-spacing: 10px;
}

.arrow {
    text-align: center;
    padding-top: 50px;
}

.egg-row {
    display: flex;
    flex: 1;
    margin: 0;
}

.egg-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 50%;
}

.text.align {
    display: flex;
    
}

.egg-img {
    margin: 0;
    padding: 0;
    display: block;
}

.img-p {
    color: hsl(210, 4%, 67%);
    /*margin-left: 215px;*/
    line-height: 30px;
}

.img-title {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 40px;
}

.img-button {
    margin-top: 30px;
    color: black;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.cup-row {
    display: flex;
    flex: 1;
    margin: 0;
}

.cup-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 50%;
}

